<simple-notifications></simple-notifications>
<div class="content-page" style="min-height: 600px">
    <div class="content">
    	<div class="page-heading">
            <h1><i class="fa fa-sitemap"></i> Frontend Management</h1>
        </div>
		<div class="row">
			<div class="container">
				<div class="container">
					<ul class="nav nav-tabs nav-simple">
					<li class="active">
						<a (click)="setActive('home')" href="#home" data-toggle="tab"><b>Home</b></a>
					</li>
					<li class="">
						<a (click)="setActive('portfolio')" href="#portfolio" data-toggle="tab"><b>Portfolio</b></a>
					</li>
					<li class="">
						<a (click)="setActive('blog')" href="#blog" data-toggle="tab"><b>Blog</b></a>
					</li>
					<li class="">
						<a (click)="setActive('about')" href="#about" data-toggle="tab"><b>About</b></a>
					</li>
					<li class="">
						<a (click)="setActive('contact')" href="#contact" data-toggle="tab"><b>Contact</b></a>
					</li>
				</ul>
				</div>
				<div class="tab-content" style="background: #ffffff">
					<br>
					<div class="tab-pane fade active in" id="home">
						<div class="widget">
							<div class="widget-content">
								<accordion [closeOthers]="true">
									<accordion-group heading="Content Page" [isOpen]="true">
										<form [formGroup]="homeForm" (submit)="save(action, 'home')">
											<div class="form-group">
												<label>Header Image</label>
												<input type="file" formControlName="header_image" (change)="getFile($event, 'image_f1')">
											</div>
											<div class="form-group">
												<label>Package Image</label>
												<input type="file" formControlName="package_image" (change)="getFile($event, 'image_f2')">
											</div>
											<div class="form-group">
												<label>Header Title</label>
												<input type="text" formControlName="heading" class="form-control">
											</div>
											<div class="form-group">
												<label>Header Description</label>
												<textarea formControlName="heading_description" class="form-control"></textarea>
											</div>
											<div class="form-group">
												<label>Heading Background Color ex. (#000000, rgba, colorformControlName)</label>
												<input type="text" formControlName="heading_background_color" class="form-control">
											</div>
											<div class="form-group">
												<label>Package Section Background Color ex. (#000000, rgba, colorformControlName)</label>
												<input type="text" formControlName="package_background_color" class="form-control">
											</div>
											<div class="form-group">
												<label>Services Offered Section Background Color ex. (#000000, rgba, colorformControlName)</label>
												<input type="text" formControlName="services_background_color" class="form-control">
											</div>
											<div class="form-group">
												<label>Subscribe Description</label>
												<input type="text" formControlName="subscribe_description" class="form-control">
											</div>
											<div class="form-group">
												<button type="submit" class="btn btn-info pull-right">Save <i class="fa fa-save"></i></button>
											</div>
										</form>
									</accordion-group>
									<accordion-group>
										<div accordion-heading (click)="setElemForm('service')">Services Offered</div>
										<div class="row">
											<div class="col-md-12" *ngIf="show && formElem == 'service'">
												<form [formGroup]="serviceForm" (submit)="save(action, 'service')">
													<div class="form-group">
														<label>Title</label>
														<input type="text" formControlName="title" class="form-control {{ errors?.title || serviceForm.controls['title'].errors && (serviceForm.controls['title'].dirty || serviceForm.controls['title'].touched) ? 'has-error' : '' }}">
														<small *ngIf="errors?.title || serviceForm.controls['title'].errors && (serviceForm.controls['title'].dirty || serviceForm.controls['title'].touched)"> 
													        <span class="help-block">{{ errors?.title }} </span>
													        <span class="help-block" *ngIf="serviceForm.controls['title'].hasError('required')">The title field is required.</span> 
													    </small>
													</div>
													<div class="form-group">
														<label>Image</label>
														<input type="file" formControlName="image" (change)="getFile($event, 'image_f1')">
														<small *ngIf="errors?.image || serviceForm.controls['image'].errors && (serviceForm.controls['image'].dirty || serviceForm.controls['image'].touched)"> 
													        <span class="help-block">{{ errors?.image }} </span>
													        <span class="help-block" *ngIf="serviceForm.controls['image'].hasError('required')">The image field is required.</span> 
													    </small>
													</div>
													<div class="form-group">
														<label>Description</label>
														<textarea formControlName="description" class="form-control"></textarea>
														<small *ngIf="errors?.description || serviceForm.controls['description'].errors && (serviceForm.controls['description'].dirty || serviceForm.controls['description'].touched)"> 
													        <span class="help-block">{{ errors?.description }} </span>
													        <span class="help-block" *ngIf="serviceForm.controls['description'].hasError('required')">The description field is required.</span> 
													    </small>
													</div>
													<div class="form-group">
														<button [disabled]="!serviceForm.valid" (submit)="serviceForm.reset" type="submit" class="btn {{ (action == 'post') ? 'btn-success' : 'btn-info' }} pull-right">{{ (action == 'post') ? 'Save ' : 'Update ' }}<i class="fa fa-{{ (action == 'post') ? 'plus-circle' : 'save' }}"></i></button>
														<a role="button" (click)="cancel('service', 'off', 'post')" class="btn pull-right">Cancel</a>
													</div>
												</form>
											</div>
											<div class="data-table-toolbar" *ngIf="!show && formElem == 'service'">
												<div class="row">
													<div class="col-md-4">
														<input type="text" (keyup)="search(key.value)" #key class="form-control" placeholder="Search...">
													</div>
													<div class="col-md-8">
														<div class="toolbar-btn-action">
															<a class="btn btn-success" (click)="create('service', 'on', 'post')"><i class="fa fa-plus-circle"></i> Add new</a>
														</div>
													</div>
												</div>
											</div>
											<div class="table-responsive" *ngIf="!show && formElem == 'service'">
												<table data-sortable class="table table-hover table-striped">
													<thead>
														<tr>
															<th>No.</th>
															<th>Title</th>
															<th>Image</th>
															<th>Description</th>
															<th data-sortable="false" class="text-center" width="10%">Action</th>
														</tr>
													</thead>
													<tbody>
														<tr *ngIf="loading else datas">
															<td colspan="5"><h4 class="text-center">Loading...</h4></td>
														</tr>
														<ng-template #datas>
															<tr *ngIf="bigTotalItems == 0">
																<td colspan="5"><h4 class="text-center">No Records Found.</h4></td>
															</tr>
															<tr *ngFor="let item of service">
																<td>{{item.id}}</td>
																<td>{{item.title}}</td>
																<td><img class="image-responsive" width="50px" src="{{item.image}}"></td>
																<td>{{item.description}}</td>
																<td>
																	<div class="btn-group btn-group-xs">
																		<a (click)="create('service','on', 'edit', item.id)" data-toggle="tooltip" class="btn btn-default"><i class="fa fa-edit"></i></a>
																		<a (click)="deleteModal('service',item.id, deletemodal)"  data-toggle="tooltip" class="btn btn-default"><i class="fa fa-trash"></i></a>
																	</div>
																</td>
															</tr>
														</ng-template>
													</tbody>
												</table>
											</div>
											<div class="col-md-12" *ngIf="bigTotalItems != 0">
											  	<pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm"
											              [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event" (pageChanged)="pageChanged($event)">
											 	</pagination>
											</div>
										</div>
									</accordion-group>
								</accordion>
							</div>
						</div>
					</div> 
					<div class="tab-pane fade" id="portfolio" style="background: #ffffff">
						<div class="widget">
							<div class="widget-content">
								<div class="col-md-12">
									<form [formGroup]="workForm" (submit)="save(action, 'portfolio')">
										<div class="form-group">
											<label>Title</label>
											<input type="text" formControlName="title" class="form-control {{ errors?.title || workForm.controls['title'].errors && (workForm.controls['title'].dirty || workForm.controls['title'].touched) ? 'has-error' : '' }}">
											<small *ngIf="errors?.title || workForm.controls['title'].errors && (workForm.controls['title'].dirty || workForm.controls['title'].touched)"> 
										        <span class="help-block">{{ errors?.title }} </span>
										        <span class="help-block" *ngIf="workForm.controls['title'].hasError('required')">The title field is required.</span> 
										    </small>
										</div>
										<div class="form-group">
											<label>Image</label>
											<input type="file" formControlName="image" (change)="getFile($event, 'image_f1')">
											<small *ngIf="errors?.image || workForm.controls['image'].errors && (workForm.controls['image'].dirty || workForm.controls['image'].touched)"> 
										        <span class="help-block">{{ errors?.image }} </span>
										        <span class="help-block" *ngIf="workForm.controls['image'].hasError('required')">The image field is required.</span> 
										    </small>
										</div>
										<div class="form-group">
											<label>Description</label>
											<textarea formControlName="description" class="form-control"></textarea>
											<small *ngIf="errors?.description || workForm.controls['description'].errors && (workForm.controls['description'].dirty || workForm.controls['description'].touched)"> 
										        <span class="help-block">{{ errors?.description }} </span>
										        <span class="help-block" *ngIf="workForm.controls['description'].hasError('required')">The description field is required.</span> 
										    </small>
										</div>
										<div class="form-group">
											<button type="submit" class="btn btn-info pull-right">Save <i class="fa fa-save"></i></button>
										</div>
									</form>
		    						<br><br><br>
								</div>
							</div>
						</div>
					</div> 
					<div class="tab-pane fade" id="blog" style="background: #ffffff">
						<div class="widget">
							<div class="widget-content">
								<div class="col-md-12">
									<form [formGroup]="blogForm" (submit)="save(action, 'blog')">
										<div class="form-group">
											<label>Title</label>
											<input type="text" formControlName="title" class="form-control {{ errors?.title || blogForm.controls['title'].errors && (blogForm.controls['title'].dirty || blogForm.controls['title'].touched) ? 'has-error' : '' }}">
											<small *ngIf="errors?.title || blogForm.controls['title'].errors && (blogForm.controls['title'].dirty || blogForm.controls['title'].touched)"> 
										        <span class="help-block">{{ errors?.title }} </span>
										        <span class="help-block" *ngIf="blogForm.controls['title'].hasError('required')">The title field is required.</span> 
										    </small>
										</div>
										<div class="form-group">
											<label>Image</label>
											<input type="file" formControlName="image" (change)="getFile($event, 'image_f1')">
											<small *ngIf="errors?.image || blogForm.controls['image'].errors && (blogForm.controls['image'].dirty || blogForm.controls['image'].touched)"> 
										        <span class="help-block">{{ errors?.image }} </span>
										        <span class="help-block" *ngIf="blogForm.controls['image'].hasError('required')">The image field is required.</span> 
										    </small>
										</div>
										<div class="form-group">
											<label>Description</label>
											<textarea formControlName="description" class="form-control"></textarea>
											<small *ngIf="errors?.description || blogForm.controls['description'].errors && (blogForm.controls['description'].dirty || blogForm.controls['description'].touched)"> 
										        <span class="help-block">{{ errors?.description }} </span>
										        <span class="help-block" *ngIf="blogForm.controls['description'].hasError('required')">The description field is required.</span> 
										    </small>
										</div>
										<div class="form-group">
											<button type="submit" class="btn btn-info pull-right">Save <i class="fa fa-save"></i></button>
										</div>
									</form>
		    						<br><br><br>
								</div>
							</div>
						</div>
					</div> 
					<div class="tab-pane fade" id="about" style="background: #ffffff">
						<div class="widget">
							<div class="widget-content">
								<accordion [closeOthers]="true">
									<accordion-group heading="Content Page" [isOpen]="true">
										<form [formGroup]="aboutForm" (submit)="save(action, 'about')">
											<div class="form-group">
												<label>Title</label>
												<input type="text" formControlName="title" class="form-control {{ errors?.title || aboutForm.controls['title'].errors && (aboutForm.controls['title'].dirty || aboutForm.controls['title'].touched) ? 'has-error' : '' }}">
												<small *ngIf="errors?.title || aboutForm.controls['title'].errors && (aboutForm.controls['title'].dirty || aboutForm.controls['title'].touched)"> 
											        <span class="help-block">{{ errors?.title }} </span>
											        <span class="help-block" *ngIf="aboutForm.controls['title'].hasError('required')">The title field is required.</span> 
											    </small>
											</div>
											<div class="form-group">
												<label>Image</label>
												<input type="file" formControlName="image">
												<small *ngIf="errors?.image || aboutForm.controls['image'].errors && (aboutForm.controls['image'].dirty || aboutForm.controls['image'].touched)"> 
											        <span class="help-block">{{ errors?.image }} </span>
											        <span class="help-block" *ngIf="aboutForm.controls['image'].hasError('required')">The image field is required.</span> 
											    </small>
											</div>
											<div class="form-group">
												<label>Description</label>
												<textarea formControlName="description" class="form-control"></textarea>
												<small *ngIf="errors?.description || aboutForm.controls['description'].errors && (aboutForm.controls['description'].dirty || aboutForm.controls['description'].touched)"> 
											        <span class="help-block">{{ errors?.description }} </span>
											        <span class="help-block" *ngIf="aboutForm.controls['description'].hasError('required')">The description field is required.</span> 
											    </small>
											</div>
											<div class="form-group">
												<button type="submit" class="btn btn-info pull-right">Save <i class="fa fa-save"></i></button>
											</div>
										</form>
									</accordion-group>
									<accordion-group>
										<div accordion-heading (click)="setElemForm('skill')">Skills</div>
										<div class="row">
											<div class="col-md-12" *ngIf="show && formElem == 'skill'">
												<form [formGroup]="skillForm" (submit)="save(action, 'skill')">
													<div class="form-group">
														<label>Title</label>
														<input type="text" formControlName="title" class="form-control {{ errors?.title || skillForm.controls['title'].errors && (skillForm.controls['title'].dirty || skillForm.controls['title'].touched) ? 'has-error' : '' }}">
														<small *ngIf="errors?.title || skillForm.controls['title'].errors && (skillForm.controls['title'].dirty || skillForm.controls['title'].touched)"> 
													        <span class="help-block">{{ errors?.title }} </span>
													        <span class="help-block" *ngIf="skillForm.controls['title'].hasError('required')">The title field is required.</span> 
													    </small>
													</div>
													<div class="form-group">
														<label>Image</label>
														<input type="file" formControlName="image" (change)="getFile($event, 'image_f1')">
														<small *ngIf="errors?.image || skillForm.controls['image'].errors && (skillForm.controls['image'].dirty || skillForm.controls['image'].touched)"> 
													        <span class="help-block">{{ errors?.image }} </span>
													        <span class="help-block" *ngIf="skillForm.controls['image'].hasError('required')">The image field is required.</span> 
													    </small>
													</div>
													<div class="form-group">
														<label>Description</label>
														<textarea formControlName="description" class="form-control"></textarea>
														<small *ngIf="errors?.description || skillForm.controls['description'].errors && (skillForm.controls['description'].dirty || skillForm.controls['description'].touched)"> 
													        <span class="help-block">{{ errors?.description }} </span>
													        <span class="help-block" *ngIf="skillForm.controls['description'].hasError('required')">The description field is required.</span> 
													    </small>
													</div>
													<div class="form-group">
														<button [disabled]="!skillForm.valid" (submit)="skillForm.reset" type="submit" class="btn {{ (action == 'post') ? 'btn-success' : 'btn-info' }} pull-right">{{ (action == 'post') ? 'Save ' : 'Update ' }}<i class="fa fa-{{ (action == 'post') ? 'plus-circle' : 'save' }}"></i></button>
														<a role="button" (click)="cancel('skill', 'off', 'post')" class="btn pull-right">Cancel</a>
													</div>
												</form>
											</div>
											<div class="data-table-toolbar" *ngIf="!show && formElem == 'skill'">
												<div class="row">
													<div class="col-md-4">
														<input type="text" (keyup)="search(key.value)" #key class="form-control" placeholder="Search...">
													</div>
													<div class="col-md-8">
														<div class="toolbar-btn-action">
															<a class="btn btn-success" (click)="create('skill', 'on', 'post')"><i class="fa fa-plus-circle"></i> Add new</a>
														</div>
													</div>
												</div>
											</div>
											<div class="table-responsive" *ngIf="!show && formElem == 'skill'">
												<table data-sortable class="table table-hover table-striped">
													<thead>
														<tr>
															<th>No.</th>
															<th>Title</th>
															<th>Image</th>
															<th>Description</th>
															<th data-sortable="false" class="text-center" width="10%">Action</th>
														</tr>
													</thead>
													<tbody>
														<tr *ngIf="loading else datas">
															<td colspan="5"><h4 class="text-center">Loading...</h4></td>
														</tr>
														<ng-template #datas>
															<tr *ngIf="bigTotalItems == 0">
																<td colspan="5"><h4 class="text-center">No Records Found.</h4></td>
															</tr>
															<tr *ngFor="let item of skill">
																<td>{{item.id}}</td>
																<td>{{item.title}}</td>
																<td><img class="image-responsive" width="50px" src="{{item.image}}"></td>
																<td>{{item.description}}</td>
																<td>
																	<div class="btn-group btn-group-xs">
																		<a (click)="create('skill','on', 'edit', item.id)" data-toggle="tooltip" class="btn btn-default"><i class="fa fa-edit"></i></a>
																		<a (click)="deleteModal('skill',item.id, deletemodal)"  data-toggle="tooltip" class="btn btn-default"><i class="fa fa-trash"></i></a>
																	</div>
																</td>
															</tr>
														</ng-template>
													</tbody>
												</table>
											</div>
											<div class="col-md-12" *ngIf="bigTotalItems != 0">
											  	<pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm"
											              [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event" (pageChanged)="pageChanged($event)">
											 	</pagination>
											</div>
										</div>
									</accordion-group>
									<accordion-group>
										<div accordion-heading (click)="setElemForm('history')">History</div>
										<div class="row">
											<div class="col-md-12" *ngIf="show && formElem == 'history'">
												<form [formGroup]="historyForm" (submit)="save(action, 'history')">
													<div class="form-group">
														<label>Title</label>
														<input type="text" formControlName="title" class="form-control {{ errors?.title || historyForm.controls['title'].errors && (historyForm.controls['title'].dirty || historyForm.controls['title'].touched) ? 'has-error' : '' }}">
														<small *ngIf="errors?.title || historyForm.controls['title'].errors && (historyForm.controls['title'].dirty || historyForm.controls['title'].touched)"> 
													        <span class="help-block">{{ errors?.title }} </span>
													        <span class="help-block" *ngIf="historyForm.controls['title'].hasError('required')">The title field is required.</span> 
													    </small>
													</div>
													<div class="form-group">
														<label>Date</label>
														<input type="text" formControlName="date" class="form-control">
														<small *ngIf="errors?.date || historyForm.controls['date'].errors && (historyForm.controls['date'].dirty || historyForm.controls['date'].touched)"> 
													        <span class="help-block">{{ errors?.date }} </span>
													        <span class="help-block" *ngIf="historyForm.controls['date'].hasError('required')">The date field is required.</span> 
													    </small>
													</div>
													<div class="form-group">
														<label>Description</label>
														<textarea formControlName="description" class="form-control"></textarea>
														<small *ngIf="errors?.description || historyForm.controls['description'].errors && (historyForm.controls['description'].dirty || historyForm.controls['description'].touched)"> 
													        <span class="help-block">{{ errors?.description }} </span>
													        <span class="help-block" *ngIf="historyForm.controls['description'].hasError('required')">The description field is required.</span> 
													    </small>
													</div>
													<div class="form-group">
														<button [disabled]="!historyForm.valid" (submit)="historyForm.reset" type="submit" class="btn {{ (action == 'post') ? 'btn-success' : 'btn-info' }} pull-right">{{ (action == 'post') ? 'Save ' : 'Update ' }}<i class="fa fa-{{ (action == 'post') ? 'plus-circle' : 'save' }}"></i></button>
														<a role="button" (click)="cancel('history', 'off', 'post')" class="btn pull-right">Cancel</a>
													</div>
												</form>
											</div>
											<div class="data-table-toolbar" *ngIf="!show && formElem == 'history'">
												<div class="row">
													<div class="col-md-4">
														<input type="text" (keyup)="search(key.value)" #key class="form-control" placeholder="Search...">
													</div>
													<div class="col-md-8">
														<div class="toolbar-btn-action">
															<a class="btn btn-success" (click)="create('history', 'on', 'post')"><i class="fa fa-plus-circle"></i> Add new</a>
														</div>
													</div>
												</div>
											</div>
											<div class="table-responsive" *ngIf="!show && formElem == 'history'">
												<table data-sortable class="table table-hover table-striped">
													<thead>
														<tr>
															<th>No.</th>
															<th>Title</th>
															<th>Date</th>
															<th>Description</th>
															<th data-sortable="false" class="text-center" width="10%">Action</th>
														</tr>
													</thead>
													<tbody>
														<tr *ngIf="loading else datas">
															<td colspan="5"><h4 class="text-center">Loading...</h4></td>
														</tr>
														<ng-template #datas>
															<tr *ngIf="bigTotalItems == 0">
																<td colspan="5"><h4 class="text-center">No Records Found.</h4></td>
															</tr>
															<tr *ngFor="let item of history">
																<td>{{item.id}}</td>
																<td>{{item.title}}</td>
																<td>{{item.date}}</td>
																<td>{{item.description}}</td>
																<td>
																	<div class="btn-group btn-group-xs">
																		<a (click)="create('history','on', 'edit', item.id)" data-toggle="tooltip" class="btn btn-default"><i class="fa fa-edit"></i></a>
																		<a (click)="deleteModal('history',item.id, deletemodal)"  data-toggle="tooltip" class="btn btn-default"><i class="fa fa-trash"></i></a>
																	</div>
																</td>
															</tr>
														</ng-template>
													</tbody>
												</table>
											</div>
											<div class="col-md-12" *ngIf="bigTotalItems != 0">
											  	<pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm"
											              [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event" (pageChanged)="pageChanged($event)">
											 	</pagination>
											</div>
										</div>
									</accordion-group>
								</accordion>
							</div>
						</div>
					</div> 
					<div class="tab-pane fade" id="contact">
						<div class="widget">
							<div class="widget-content">
								<div class="col-md-12">
									<form [formGroup]="contactForm" (submit)="save(action, 'contact')">
										<div class="form-group">
											<label>Title</label>
											<input type="text" formControlName="title" class="form-control {{ errors?.title || contactForm.controls['title'].errors && (contactForm.controls['title'].dirty || contactForm.controls['title'].touched) ? 'has-error' : '' }}">
											<small *ngIf="errors?.title || contactForm.controls['title'].errors && (contactForm.controls['title'].dirty || contactForm.controls['title'].touched)"> 
										        <span class="help-block">{{ errors?.title }} </span>
										        <span class="help-block" *ngIf="contactForm.controls['title'].hasError('required')">The title field is required.</span> 
										    </small>
										</div>
										<div class="form-group">
											<label>Image</label>
											<input type="file" formControlName="image" (change)="getFile($event, 'image_f1')">
											<small *ngIf="errors?.image || contactForm.controls['image'].errors && (contactForm.controls['image'].dirty || contactForm.controls['image'].touched)"> 
										        <span class="help-block">{{ errors?.image }} </span>
										        <span class="help-block" *ngIf="contactForm.controls['image'].hasError('required')">The image field is required.</span> 
										    </small>
										</div>
										<div class="form-group">
											<label>Description</label>
											<textarea formControlName="description" class="form-control"></textarea>
											<small *ngIf="errors?.description || contactForm.controls['description'].errors && (contactForm.controls['description'].dirty || contactForm.controls['description'].touched)"> 
										        <span class="help-block">{{ errors?.description }} </span>
										        <span class="help-block" *ngIf="contactForm.controls['description'].hasError('required')">The description field is required.</span> 
										    </small>
										</div>
										<div class="form-group">
											<button type="submit" class="btn btn-info pull-right">Save <i class="fa fa-save"></i></button>
										</div>
									</form>
		    						<br><br><br>
								</div>
							</div>
						</div>
					</div> 
				</div> 
			</div>
		</div>	
    </div>
</div>
<ng-template #deletemodal>
	<div class="modal-header">
        <h4 class="modal-title pull-left">
            <i class="fa fa-trash"></i>&nbsp;Delete {{name}}
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div >
            <h3>Are you sure you want to delete this data ?</h3>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="delete(name, id)">Delete <i class="fa fa-trash"></i></button>
    </div>
</ng-template>