<section class="hero-banner bg-success" [ngStyle]="{'background-image': 'url('+image+')'}">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h2 class="text-white-1">{{about[0].title}}</h2><hr>
                <div class="row">
                    <div class="col-sm-12 text-white-1">{{about[0].description}}</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-white-1">
<section class="features-block about-features bg-white-1">
    <div class="container" style="width: 90%">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1  text-center">
                <a style="padding-top: 20px" target="_blank" href="http://gestyy.com/wSmhwD"><img src="https://static.shorte.st/bundles/smeuser/img/mining/affiliation_banners/shortest-miner-728x90.png?v1.1.1" title="Mine BTC today with our app" width="728" height="90" /></a> 
            <!-- End of shorte.st banner code -->
                <h2>TECHNOLOGIES</h2>
            </div>
        </div>
        <div class="row" *ngIf="skill.length !== 0">
            <br><br>
            <div class="col-sm-4 text-center" data-animate="fadeInLeft" data-delay="0" *ngFor="let item of skill">
                <img class="image-responsive" src="{{item.image}}" width="180">
                <h4>{{item?.title}}</h4>
                <p>{{item?.description}}</p>
            </div>
        </div>
        <div class="row" *ngIf="skill.length == 0">
            <br><br>
            <div class="col-sm-4" data-animate="fadeInLeft" data-delay="0">
                <i class="fa fa-code fa-4x"></i>
                <h4>CLEAN CODING</h4>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident.</p>
            </div>
            <div class="col-sm-4" data-animate="fadeInLeft" data-delay="300">
                <i class="fa fa-paint-brush fa-4x"></i>
                <h4>SIMPLE & ELEGANT DESIGN</h4>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident.</p>
            </div>
            <div class="col-sm-4" data-animate="fadeInLeft" data-delay="600">
                <i class="fa fa-users fa-4x"></i>
                <h4>HAPPY CLIENTS</h4>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident.</p>
            </div>
            <div class="col-sm-4" data-animate="fadeInLeft" data-delay="900">
                <i class="fa fa-mobile fa-4x"></i>
                <h4>MOBILE DEVELOPMENT</h4>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident.</p>
            </div>
            <div class="col-sm-4" data-animate="fadeInLeft" data-delay="1200">
                <i class="fa fa-camera fa-4x"></i>
                <h4>PICTURE PERFECT WEBSITES</h4>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident.</p>
            </div>
            <div class="col-sm-4" data-animate="fadeInLeft" data-delay="1500">
                <i class="fa fa-support fa-4x"></i>
                <h4>CUSTOMER SUPPORT</h4>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident.</p>
            </div>
        </div>
    </div>
</section>

<section id="theteam" class="team-block">
    <div class="container" style="width: 90%">
        <h1 class="text-center">HISTORY</h1>
        <br><br>

        <ul class="timeline" *ngIf="history.length !== 0">
            <!-- Item 1 -->
            <li *ngFor="let item of history">
                <div class="{{((item.id % 2) == true) ? 'direction-r' : 'direction-l'}}">
                    <div class="flag-wrapper">
                        <span class="flag">{{item.title}}</span>
                        <span class="time-wrapper"><span class="time">{{item.date}}</span></span>
                    </div>
                    <div class="desc">{{item.description}}</div>
                </div>
            </li>
        </ul>

        <ul class="timeline" *ngIf="history.length == 0">
            <!-- Item 1 -->
            <li>
                <div class="direction-r">
                    <div class="flag-wrapper">
                        <span class="flag">Freelancer</span>
                        <span class="time-wrapper"><span class="time">2013 - present</span></span>
                    </div>
                    <div class="desc">My current employment. Way better than the position before!</div>
                </div>
            </li>
            <!-- Item 2 -->
            <li>
                <div class="direction-l">
                    <div class="flag-wrapper">
                        <span class="flag">Apple Inc.</span>
                        <span class="time-wrapper"><span class="time">2011 - 2013</span></span>
                    </div>
                    <div class="desc">My first employer. All the stuff I've learned and projects I've been working on.</div>
                </div>
            </li>
            <!-- Item 3 -->
            <li>
                <div class="direction-r">
                    <div class="flag-wrapper">
                        <span class="flag">Harvard University</span>
                        <span class="time-wrapper"><span class="time">2008 - 2011</span></span>
                    </div>
                    <div class="desc">A description of all the lectures and courses I have taken and my final degree?</div>
                </div>
            </li>
        </ul>
    </div>
</section>
