 <section class="hero-banner bg-white-1">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <a style="padding-top: 20px" target="_blank" href="http://gestyy.com/wSmhwD"><img src="https://static.shorte.st/bundles/smeuser/img/mining/affiliation_banners/shortest-miner-728x90.png?v1.1.1" title="Mine BTC today with our app" width="728" height="90" /></a> 
                <!-- End of shorte.st banner code -->
                <h2>{{contact[0].title}}</h2><hr>
                <div class="row">
                    <div class="col-sm-12">{{contact[0].description}}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center contact-phone text-success">
                <span class="text-lg text-primary">MOBILE NO</span><br><i class="fa fa-mobile"></i>
                +{{sitedata[0].contact}}
            </div>
        </div>
    </div>
</section>
<section id="contact-form bg-white-1" class="contact-form block">
    <div class="container" style="width: 90%">
        <div class="row">
            <div class="col-sm-6">
                <form [formGroup]="form" (submit)="save(successmodal)" id="contactForm">
                    <legend>GET IN TOUCH</legend>
                    <div class="form-group {{ errors?.name || form.controls['name'].errors && (form.controls['name'].dirty || form.controls['name'].touched) ? 'has-error' : '' }}">
                        <div class="controls">
                            <input placeholder="Enter your name" type="text" formControlName="name" class="form-control" id="name">
                            <small *ngIf="errors?.name || form.controls['name'].errors && (form.controls['name'].dirty || form.controls['name'].touched)">
                                <span class="help-block">{{ errors?.name }}</span>
                                <span class="help-block" *ngIf="form.controls['name'].hasError('required')">The name field is required.</span>
                            </small>
                        </div>
                    </div>
                    <div class="form-group {{ errors?.email || form.controls['email'].errors && (form.controls['email'].dirty || form.controls['email'].touched) ? 'has-error' : '' }}">
                        <div class="controls">
                            <input placeholder="Enter your email address" type="text" formControlName="email" class="form-control" id="email">
                            <small *ngIf="errors?.email || form.controls['email'].errors && (form.controls['email'].dirty || form.controls['email'].touched)">
                                <span class="help-block">{{ errors?.email }}</span>
                                <span class="help-block" *ngIf="form.controls['email'].hasError('required')">The email field is required.</span>
                                <span class="help-block" *ngIf="form.controls['email'].hasError('email')">The email field is invalid.</span>
                            </small>
                        </div>
                    </div>
                    <div class="form-group {{ errors?.message || form.controls['message'].errors && (form.controls['message'].dirty || form.controls['message'].touched) ? 'has-error' : '' }}">
                        <div class="controls">
                            <textarea rows="10" cols="100" style="resize:none" placeholder="Enter your message" type="text" formControlName="message" class="form-control" id="message"></textarea>
                            <small *ngIf="errors?.message || form.controls['message'].errors && (form.controls['message'].dirty || form.controls['message'].touched)">
                                <span class="help-block">{{ errors?.message }}</span>
                                <span class="help-block" *ngIf="form.controls['message'].hasError('required')">The message field is required.</span>
                            </small>
                        </div>
                    </div>     
                    
                    <div class="text-right">
                        <button type="button" disabled="disabled" class="btn btn-primary" *ngIf="loading">Loading ...</button>
                        <button type="submit" [disabled]="!form.valid" (submit)="form.reset" class="btn btn-primary" *ngIf="!loading">SEND</button>
                    </div>
                </form>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="well transparent" style="color: #000">
                            <h4>PHILIPPINE ADDRESS</h4>
                            <b>ADDRESS</b>
                            <p>{{ sitedata[0].location }}</p>
                            <b>MOILE/PHONE</b>
                            <p>+{{ sitedata[0].contact }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<ng-template #successmodal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            <i class="fa fa-check"></i>&nbsp;Success
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div >
            <h3>You're message successfully sent.<br> I will reply as soon as i read your message. <br>Thank you.</h3>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
    </div>
</ng-template>