<header *ngIf="login === false else headeradmin" class="{{ (page !== 'home') ? 'inverted' : '' }}">
    <div id="topbar">
        <div class="container" style="width: 90%">
            <div class="row">
                <div class="col-sm-6 col-xs-6" *ngFor="let item of sitedata">
                    <span class="hidden-sm hidden-xs">
                        <i class="fa fa-location-arrow"></i> {{item.location}} 
                    </span>
                    <span class="vertical-space"></span> 
                    <i class="fa fa-phone"></i> {{item.contact}}

                </div>
                <div class="col-sm-6 col-xs-6 text-right">
                    <div class="btn-group social-links hidden-sm hidden-xs" *ngFor="let items of socialdata">
                        <a href="{{ items.url }}" target="__blank" class="btn btn-link">
                            <i class="fa fa-{{ (items.name=='facebook') ? 'facebook' : (items.name =='twitter') ? 'twitter': (items.name=='linkedin') ? 'linkedin' : '' }} fa-2"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="top-divider"></div>
        </div>
    </div>            
    <nav class="navbar navbar-default" role="navigation">
        <div class="container" style="width: 90%">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" *ngFor="let item2 of sitedata">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navigation">
                    <span class="fa fa-th-large"></span>
                </button>
                <a class="navbar-brand" routerLink="/" *ngIf="item2.logo else nologo">
                    <img src="{{item2.logo}}" alt="{{item2.title}}" class="logo">
                </a>
                <ng-template #nologo>
                    <a class="navbar-brand" routerLink="/">
                        <p class="site-title">{{item2.title}}</p>
                    </a>
                </ng-template>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li><a routerLink="/" class="{{page == 'home' ? 'active' : ''}}" (click)="pageName('home')">HOME</a></li>
                    <li><a routerLink="works" class="{{page == 'works' ? 'active' : ''}}" (click)="pageName('works')">PORTFOLIO</a></li>
                    <li><a routerLink="blog" class="{{page == 'blog' ? 'active' : ''}}" (click)="pageName('blog')">BLOG</a></li>
                    <li><a routerLink="about" class="{{page == 'about' ? 'active' : ''}}" (click)="pageName('about')">ABOUT</a></li>
                    <li><a routerLink="contact" class="{{page == 'contact' ? 'active' : ''}}" (click)="pageName('contact')">CONTACT</a></li>
                    <li *ngIf="status"><a routerLink="/admin">ADMIN</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-->
    </nav>
    <div *ngIf="page !== 'home' else headbg"></div>        
    <ng-template #headbg>
        <div *ngFor="let img of home">
            <section class="main-slider fullsize" data-stellar-background-ratio="0.5" [ngStyle]="{'background-image': 'url('+image+')'}" *ngIf="img.header_image == null">
                <div class="slider-caption" *ngFor="let site of sitedata">
                    <h1 data-animate="fadeInDown" data-delay="1000" data-duration="2s"><br><br>{{site.tagline}}</h1>
                    <br>
                    <br>
                    <br>
                    <div>
                        <a data-animate="fadeInUp" data-duration="2s" data-delay="1300" routerLink="about" class="btn btn-primary btn-lg">Know More About Me ?</a>
                    </div>
                </div>
            </section>
            <section class="main-slider fullsize" data-stellar-background-ratio="0.5" [ngStyle]="{'background-image': 'url('+img.header_image+')'}" *ngIf="img.header_image">
                <div class="slider-caption" *ngFor="let site of sitedata">
                    <h1 data-animate="fadeInDown" data-delay="1000" data-duration="2s"><br><br>{{site.tagline}}</h1>
                    <br>
                    <br>
                    <br>
                    <div>
                        <a data-animate="fadeInUp" data-duration="2s" data-delay="1300" routerLink="about" class="btn btn-primary btn-lg">Know More About Me ?</a>
                    </div>
                </div>
            </section>
        </div>  
    </ng-template>
</header>
<ng-template #headeradmin>
    <div class="topbar">
        <div class="topbar-left">
            <div class="logo">
                <h1>
                    <a routerLink="/" *ngFor="let item2 of sitedata">
                        <img src="{{item2.logo}}" alt="{{item2.title}}" class="logo" *ngIf="item2.logo else nologo">
                        <ng-template #nologo>
                            <p class="site-title-backend">{{item2.title}}</p>
                        </ng-template>
                    </a>
                </h1>
            </div>
            <button class="button-menu-mobile open-left">
            <i class="fa fa-bars"></i>
            </button>
        </div>
        <!-- Button mobile view to collapse sidebar menu -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-collapse2">
                    <ul class="nav navbar-nav navbar-right top-navbar">
                        <li class="dropdown iconify hide-phone">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-globe"></i>
                                <span class="label label-danger absolute" *ngIf="new_count != 0">{{ new_count }}</span>
                            </a>
                            <ul class="dropdown-menu dropdown-message" 
                            infiniteScroll
                            [infiniteScrollDistance]="2"
                            [infiniteScrollThrottle]="50"
                            (scrolled)="onScroll()"
                            [scrollWindow]="false"
                            style="max-height: 300px;overflow: auto;">
                                <li><a href="javascript:;" (click)="readAll()" class="text-center">Mark all as read</a></li>
                                <li *ngFor="let item of head_notif">
                                    <a (click)="clickAsRead(item?.type,item?.type_id,item?.id)">
                                        <p>
                                            <strong>{{item?.title}}</strong>
                                            <br />
                                            <i>
                                                {{item?.created_at | amTimeAgo}}
                                                <i *ngIf="item?.status == 1"> | Read <i class="fa fa-check"></i></i>
                                            </i>
                                        </p>
                                    </a>
                                </li>
                                <li>
                                    <div class="cssload-thecube" style="width: 20px;height: 20px;margin-top: 20px;margin-bottom: 20px">
                                        <div class="cssload-cube cssload-c1"></div>
                                        <div class="cssload-cube cssload-c2"></div>
                                        <div class="cssload-cube cssload-c4"></div>
                                        <div class="cssload-cube cssload-c3"></div>
                                    </div>
                                </li>
                                <li class="dropdown-footer">
                                    <div class="btn-group btn-group-justified">
                                        <div class="btn-group">
                                            <a routerLink="/notification" class="btn btn-sm btn-success">See All <i class="icon-right-open-2"></i></a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown topbar-profile">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="rounded-image topbar-profile-image">
                                <img src="{{ users?.image != '' ? users?.image : 'assets/images/users/user-35.jpg' }}">
                                </span> 
                                <strong>{{users?.firstname}}</strong>
                                <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a routerLink="account">Account Setting</a></li>
                                <li class="divider"></li>
                                <li><a (click)="logout()"><i class="icon-logout-1"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">
            <div class="clearfix"></div><br>
            <!--- Profile -->
            <div class="profile-info">
                <div class="col-xs-4">
                    <a routerLink="account" class="rounded-image profile-image">
                        <img src="{{ users?.image != '' ? users?.image : 'assets/images/users/user-100.jpg' }}">
                    </a>
                </div>
                <div class="col-xs-8">
                    <div class="profile-text">Welcome <b>{{ users.name }}</b></div>
                    <div class="profile-buttons">
                      <a routerLink="account"><i class="fa fa-cog"></i></a>
                      <a (click)="logout()"><i class="fa fa-power-off text-red-1"></i></a>
                    </div>
                </div>
            </div>
            <!--- Divider -->
            <div class="clearfix"></div>
            <hr class="divider" />
            <div class="clearfix"></div>
            <!--- Divider -->
            <div id="sidebar-menu">
                <ul>
                    <li>
                        <a (click)="pageName('admin')" class="{{ page == 'admin' ? 'active' : '' }}" routerLink="admin"><i class='fa fa-home'></i><span>Dashboard</span></a>
                    </li>
                    <li>
                        <a (click)="pageName('portfolio')" class="{{ page == 'portfolio' ? 'active' : '' }}" routerLink="portfolio"><i class='fa fa-book'></i><span>Portfolio</span></a>
                    </li>
                    <li>
                        <a (click)="pageName('article')" class="{{ page == 'article' ? 'active' : '' }}" routerLink="article"><i class='fa fa-comments-o'></i><span>Articles</span></a>
                    </li>
                    <li>
                        <a (click)="pageName('meta')" class="{{ page == 'meta' ? 'active' : '' }}" routerLink="meta"> <i class='fa fa-info-circle'></i><span> Site Meta</span></a>
                    </li>
                    <li>
                        <a (click)="pageName('frontend')" class="{{ page == 'frontend' ? 'active' : '' }}" routerLink="frontend"><i class="fa fa-sitemap"></i><span> CMS Management</span></a>
                    </li>
                    <li>
                        <a (click)="pageName('notification')" class="{{ page == 'notification' ? 'active' : '' }}" routerLink="notification"><i class="fa fa-globe"></i><span> Notifications</span></a>
                    </li>
                    <li>
                        <a (click)="pageName('message')" class="{{ page == 'message' ? 'active' : '' }}" routerLink="message"><i class="fa fa-envelope"></i><span> Messages</span></a>
                    </li>
                    <li>
                        <a (click)="pageName('account')" class="{{ page == 'account' ? 'active' : '' }}" routerLink="account"><i class="fa fa-cog"></i><span> Account</span></a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <br><br><br>
        </div>
        <div class="left-footer">
            <div class="progress progress-xs">
              <div class="progress-bar bg-green-1" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                <span class="progress-precentage">80%</span>
              </div>
              
              <a data-toggle="tooltip" title="See task progress" class="btn btn-default md-trigger" data-modal="task-progress"><i class="fa fa-inbox"></i></a>
            </div>
        </div>
    </div>
</ng-template>