<simple-notifications></simple-notifications>
<div class="content-page" style="min-height: 600px">
	<div class="content">
    	<div class="page-heading">
            <h1>
            	<i class="fa fa-globe"></i> Notifications > {{type.toUpperCase()}}
            </h1>
        </div>
		<div class="row">
			<div class="col-md-4">
				<a routerLink="/notification" class="btn btn-info pull-left"><i class="fa fa-arrow-left"></i> Back to Notifications</a>
			</div>
			<br>
			<div class="container">
				<hr>
				<div class="col-md-12 row" *ngIf="type.toUpperCase() == 'VISITOR'">
					<div class="panel panel-info">
						<div class="panel-body">
							<table width="100%" class="table">
								<tr>
									<td width="30%">IP ADDRESS: </td>
									<td>{{ notification?.ip }}</td>
								</tr>
								<tr>
									<td>BROWSER: </td>
									<td>{{ notification?.browser }}</td>
								</tr>
								<tr>
									<td>LOCATION: </td>
									<td><textarea disabled="disabled" rows="5" class="form-control">{{ notification?.location }}</textarea></td>
								</tr>
								<tr>
									<td>CREATED AT: </td>
									<td>{{ notification?.created_at }}</td>
								</tr>
								<tr>
									<td>UPDATED AT: </td>
									<td>{{ notification?.updated_at }}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="col-md-12" *ngIf="type.toUpperCase() == 'SUBSCRIBER'">
					<div class="panel panel-info">
						<div class="panel-body">
							<table width="100%" class="table">
								<tr>
									<td width="30%">Email: </td>
									<td>{{ notification?.email }}</td>
								</tr>
								<tr>
									<td>CREATED AT: </td>
									<td>{{ notification?.created_at }}</td>
								</tr>
								<tr>
									<td>UPDATED AT: </td>
									<td>{{ notification?.updated_at }}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div class="col-md-12" *ngIf="type.toUpperCase() == 'MESSAGE'">
					<div class="panel panel-info">
						<div class="panel-body">
							<table width="100%" class="table">
								<tr>
									<td width="30%">Name: </td>
									<td>{{ notification?.name }}</td>
								</tr>
								<tr>
									<td>Email: </td>
									<td>{{ notification?.email }}</td>
								</tr>
								<tr>
									<td>Message: </td>
									<td>{{ notification?.message }}</td>
								</tr>
								<tr>
									<td>CREATED AT: </td>
									<td>{{ notification?.created_at }}</td>
								</tr>
								<tr>
									<td>UPDATED AT: </td>
									<td>{{ notification?.updated_at }}</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
