<simple-notifications></simple-notifications>
<div class="content-page" style="min-height: 600px">
	<div class="content">
    	<div class="page-heading">
            <h1>
            	<i class="fa fa-globe"></i> Notifications 
            	<button (click)="refresh()" class="btn btn-info"><i class="fa fa-refresh"></i></button>
            	<a (click)="readAll()" href="javascript:;"><i class="fa fa-check"></i> Mark all as read</a>
				<div class="row col-md-4 pull-right">
            		<input type="text" (keyup)="search(key.value)" #key class="form-control pull-right" placeholder="Search...">
            	</div>
            </h1>
        </div>
		<div class="row">
			<div class="container">
				<table class="table table-bordered" style="background-color: #ffffff">
					<tr *ngIf="bigTotalItems == 0 else mylaman">
						<td colspan="7"><h4 class="text-center">No Notifications Found.</h4></td>
					</tr>
					<ng-template #mylaman>
						<tr *ngFor="let item2 of notification">
							<td>
								<a routerLink="/notification/{{ item2.type }}/{{ item2.type_id }}/{{ item2.id }}">{{ item2.title }}</a> 
								<small class="pull-right">
									<i>{{item2.created_at | amTimeAgo}}</i>
									<i class="fa fa-eye" *ngIf="item2.status == 1"></i>
									<a [ngClass]="hide" style="cursor: pointer" (click)="read(item2.id)" *ngIf="item2.status == 0">Mark as read <i class="fa fa-eye"></i></a>
								</small>
							</td>
						</tr>
					</ng-template>
				</table>
			</div>
			<div class="col-md-12" *ngIf="bigTotalItems != 0">
			  	<pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm"
			              [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event" (pageChanged)="pageChanged($event)">
			 	</pagination>
			</div>
		</div>
	</div>
</div>
