<simple-notifications></simple-notifications>
<div class="content-page" style="min-height: 600px">
	<div class="content">
    	<div class="page-heading">
            <h1>
            	<i class="fa fa-envelope"></i> Messages
            	<button class="btn btn-info pull-right"><i class="fa fa-arrow-left"></i> Back to messages</button>
            </h1>
        </div>
		<div class="row">
			<div class="container">
				<table class="table table-bordered">
					<tr>
						<td>
							Message <small><i>2 minutes ago</i></small>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
