<section class="bg-success" style="min-height: 5px;"></section>
<section class="bg-white-1">
	<div class="container" style="width: 90%;min-height: 600px">
		<div class="col-sm-8 pull-left">		
			<a style="padding-top: 20px" target="_blank" href="http://gestyy.com/wSmhwD"><img class="image-responsive" src="https://static.shorte.st/bundles/smeuser/img/mining/affiliation_banners/shortest-miner-728x90.png?v1.1.1" title="Mine BTC today with our app" width="728" height="90" /></a> 
						<!-- End of shorte.st banner code -->
			<section *ngIf="loading_articles else hasdata">
				<article class="post">
					<h2>Loading articles ...</h2>
				</article>
			</section>
			<ng-template #hasdata>
				<section>
					<article class="post" *ngIf="post.length == 0">
						<h2>No post yet belongs to this category.</h2>
					</article>
				 	<article class="post" *ngFor="let item of post">
						<br>
						<br>
						<a routerLink="/blog/{{item.slug}}"><img width="100%" class="image-responsive" src="{{item?.image}}"></a>
						<br>
						<header class="entry-header">
							<h1 class="entry-title"><a [routerLink]="['/blog', item.slug]" rel="bookmark">{{item.title}}</a></h1>
							<div class="entry-meta"> 
								Published on {{item?.created_at | date}}
							</div> 
						</header>
						<br>
						<div class="entry-content">
							<div class="body" [innerHTML]="item.body|slice:0:300"></div>...
						</div>
						<br>
					</article>
				</section>
			</ng-template>
		</div> 
		<div class="col-md-4 pull-right border-left-black">
			<h3>{{ (loading_categories) ? 'Loading categories ...' : 'Categories' }}</h3>
			<ul class="no-bullets">
				<li *ngFor="let cat of categories"><a (click)="navigate(cat.id)" style="cursor: pointer">{{cat.title}}</a></li>
				<li>
					<!-- Start of shorte.st banner code --> 
					<a target="_blank" href="http://gestyy.com/wSmhwD" style="padding-top: 40px">
						<img class="image-responsive" src="//static.shorte.st/bundles/smeuser/img/mining/affiliation_banners/shortest-miner-300x250.png?v1.1.1" title="Mine BTC today with our app" width="300" height="250" />
					</a> 
					<!-- End of shorte.st banner code -->
				</li>
				<li>
					<ng2-adsense
					[adClient]="'ca-pub-2121261107511559'"
				    [adSlot]="3278764682"
				    [display]="'inline-block'"
				    [width]="320"
				    [height]="400">
					</ng2-adsense>
				</li>
			</ul>
		</div>
		<div class="col-md-8" *ngIf="bigTotalItems >= 10">
		  	<pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm"
		              [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event" (pageChanged)="pageChanged($event)">
		 	</pagination>
		</div>
	</div>
</section>