<section class="bg-success" style="min-height: 5px;"></section>
<section class="bg-white-1">
	<div class="container" style="width: 90%;min-height: 600px">
		<div class="row">
			<section *ngIf="loading_articles else hasdata">
				<article class="post">
					<h2>Loading Article ....</h2>
				</article>
			</section>
			<ng-template #hasdata>
				<article *ngIf="post.slug else notfound">
					<div class="col-sm-8 pull-left">	
						<!-- Start of shorte.st banner code --> 
						<a style="padding-top: 20px" target="_blank" href="http://gestyy.com/wSmhwD"><img class="image-responsive" src="https://static.shorte.st/bundles/smeuser/img/mining/affiliation_banners/shortest-miner-728x90.png?v1.1.1" title="Mine BTC today with our app" width="728" height="90" /></a> 
						<!-- End of shorte.st banner code -->
						<article class="post">
							<header class="entry-header">
								<h1 class="entry-title"><a routerLink="/blog/{{post?.slug}}" rel="bookmark">{{post?.title}}</a></h1>
								<div class="entry-meta"> 
									Published on {{post?.created_at | date}} | Category: {{post.categories}} | Tags: {{post?.tags}}	
								</div> 
							</header>
							<br> 
							<div class="entry-content"> 
								<p><img class="image-responsive" width="100%" alt="{{post?.title}}" src="{{post?.image}}"></p>
								<div class="body" [innerHTML]="post?.body"></div>
							</div> 
						</article>
					</div> 
					<div class="col-md-4 pull-right border-left-black">
						<h3>{{ (loading_categories) ? 'Loading posts ..' : 'Recent post' }}</h3>
						<ul class="no-bullets">
							<li *ngFor="let item of recentPost"><a (click)="navigate(item.slug)">{{item.title}}</a></li>
							<li>
								<!-- Start of shorte.st banner code --> 
								<a target="_blank" href="http://gestyy.com/wSmhwD" style="padding-top: 40px">
									<img class="image-responsive" src="//static.shorte.st/bundles/smeuser/img/mining/affiliation_banners/shortest-miner-300x250.png?v1.1.1" title="Mine BTC today with our app" width="300" height="250" />
								</a> 
								<!-- End of shorte.st banner code -->
							</li>
							<li>
								<ng2-adsense
								[adClient]="'ca-pub-2121261107511559'"
							    [adSlot]="3278764682"
							    [display]="'inline-block'"
							    [width]="320"
							    [height]="400">
								</ng2-adsense>
							</li>
						</ul>
					</div>
					<div class="col-sm-8">
						<share-buttons></share-buttons>
					</div>
					<div class="col-sm-8">
						<disqus [shortname]="rldwebshop" [identifier]="pageId" [categoryId]="post?.slug" [language]="'en'"></disqus>
					</div>
				</article>
				<ng-template #notfound>
					<article class="post">
						<div class="col-sm-8 pull-left">	
							<h2>Sorry, Page Not Found.</h2>
						</div>
					</article>
				</ng-template>
			</ng-template>
		</div>
	</div>
</section>	