<section class="hero-banner bg-white-1">
      <div class="container text-center">

          <div class="row">
              <div class="col-sm-10 col-sm-offset-1" *ngFor="let item of home">
                  <h2>{{item?.heading}}</h2>
                  <p>{{item?.heading_description}}</p>
              </div>
          </div>
      </div>
</section>

<section class="features-block">
    <div class="container" style="width: 90%">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center">SERVICES OFFERED</h2>
                <br><br>
            </div>
            <div class="col-sm-4" data-animate="fadeInLeft" data-delay="300" *ngFor="let item of service">
                <img src="{{item.image}}" class="image-responsive" width="100%">
                <h4>{{item?.title}}</h4>
                <p>{{item?.description}}</p>
            </div>
            <div *ngIf="service?.length == 0">
                <div class="col-sm-4" data-animate="fadeInLeft" data-delay="0">
                    <h4>PERFECTLY RESPONSIVE</h4>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-sm-4" data-animate="fadeInLeft" data-delay="300">
                    <h4>SIMPLE & ELEGANT LOOK</h4>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="col-sm-4" data-animate="fadeInLeft" data-delay="600">
                    <h4>BUILT WITH BOOTSTRAP</h4>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services-block bg-white-1">
    <div class="container" style="width: 90%">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center">RECENT WORKS</h2>
                <br><br>
            </div>
        </div>
        <div class="row zoom-gallery" data-animate="zoomIn" data-delay="0">
            <div class="col-sm-4" data-animate="zoomIn" data-delay="300" *ngFor="let items of works">
                <a routerLink="works/{{items.id}}" [attr.data-source]="items?.image" class="gallery-item effect-milo">
                    <img src="{{items?.image}}">
                </a>
                <a routerLink="works/{{items.id}}" class="gallery-item-title">{{items?.title}}</a>
                <p class="gallery-item-descr">{{items?.description}}</p>
            </div>
            <div *ngIf="works?.length == 0">
                <div class="col-sm-4">
                    <a href="assets/images/portfolio/image1.jpg" data-source="assets/images/portfolio/image1.jpg" class="gallery-item effect-milo">
                        <img src="assets/images/portfolio/thumbs/image1.jpg">
                    </a>
                    <a href="javascript:;" class="gallery-item-title">SOME WORK SAMPLE</a>
                    <p class="gallery-item-descr">Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
                </div>
                <div class="col-sm-4" data-animate="zoomIn" data-delay="300">
                    <a href="assets/images/portfolio/image2.jpg" data-source="assets/images/portfolio/image2.jpg" class="gallery-item effect-milo">
                        <img src="assets/images/portfolio/thumbs/image2.jpg">
                    </a>
                    <a href="javascript:;" class="gallery-item-title">SOME WORK SAMPLE</a>
                    <p class="gallery-item-descr">Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
                </div>
                <div class="col-sm-4" data-animate="zoomIn" data-delay="600">
                    <a href="assets/images/portfolio/image3.jpg" class="gallery-item effect-milo">
                        <img src="assets/images/portfolio/thumbs/image3.jpg">
                    </a>
                    <a href="javascript:;" class="gallery-item-title">SOME WORK SAMPLE</a>
                    <p class="gallery-item-descr">Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
                </div>
                <div class="col-sm-4">
                    <a href="assets/images/portfolio/image1.jpg" data-source="assets/images/portfolio/image1.jpg" class="gallery-item effect-milo">
                        <img src="assets/images/portfolio/thumbs/image1.jpg">
                    </a>
                    <a href="javascript:;" class="gallery-item-title">SOME WORK SAMPLE</a>
                    <p class="gallery-item-descr">Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
                </div>
                <div class="col-sm-4" data-animate="zoomIn" data-delay="300">
                    <a href="assets/images/portfolio/image2.jpg" data-source="assets/images/portfolio/image2.jpg" class="gallery-item effect-milo">
                        <img src="assets/images/portfolio/thumbs/image2.jpg">
                    </a>
                    <a href="javascript:;" class="gallery-item-title">SOME WORK SAMPLE</a>
                    <p class="gallery-item-descr">Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
                </div>
                <div class="col-sm-4" data-animate="zoomIn" data-delay="600">
                    <a href="assets/images/portfolio/image3.jpg" class="gallery-item effect-milo">
                        <img src="assets/images/portfolio/thumbs/image3.jpg">
                    </a>
                    <a href="javascript:;" class="gallery-item-title">SOME WORK SAMPLE</a>
                    <p class="gallery-item-descr">Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="product-block">
    <div class="container" style="width: 90%">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2><b>ALL IN PACKAGE</b><br> THAT CAN FIT ALL YOUR REQUIREMENTS</h2>
                <br>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <img src="{{image2}}" class="image-sized" data-animate="fadeInRight">
            </div>
            <div class="col-sm-12 text-center">
                <br>
                <h2><button class="btn btn-info btn-lg" [routerLink]="['/contact']">DISCUS A PROJECT NOW ?</button></h2>
            </div>
        </div>
    </div>
</section>

<section class="subscribe-block text-center">
    <div class="container" style="width: 90%">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3" *ngFor="let item of home">
                <h1>SUBSCRIBE</h1>
                <p>{{home?.subscribe_description}}</p>
                <hr class="divider">
                <form [formGroup]="form" (submit)="save(successmodal)">
                    <div class="form-group {{ errors?.email || form.controls['email'].errors && (form.controls['email'].dirty || form.controls['email'].touched) ? 'has-error' : '' }}">
                        <input placeholder="Enter your email address" type="text" formControlName="email" class="form-control input-lg" id="subscribe-input">
                        <small *ngIf="errors?.email || form.controls['email'].errors && (form.controls['email'].dirty || form.controls['email'].touched)">
                            <span class="help-block">{{ errors?.email }}</span>
                            <span class="help-block" *ngIf="form.controls['email'].hasError('required')">The email field is required.</span>
                            <span class="help-block" *ngIf="form.controls['email'].hasError('email')">The email field is invalid.</span>
                        </small>
                    </div>
                    <button type="button" disabled="disabled" class="btn btn-primary" *ngIf="loading">Loading ...</button>
                    <button class="btn btn-primary btn-lg subscribe-btn" type="submit" (submit)="form.reset" [disabled]="!form.valid" *ngIf="!loading">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>  
<ng-template #successmodal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            <i class="fa fa-check"></i>&nbsp;Success
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div >
            <h3>You are successfully subscribed to my news letter.</h3>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
    </div>
</ng-template>