<section class="hero-banner bg-success" [ngStyle]="{'background-image': 'url('+image+')'}">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h2 class="text-white-1">{{work[0].title}}</h2><hr>
                <div class="row">
                    <div class="col-sm-12 text-white-1">{{work[0].description}}</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="portfolio-block block bg-white-1">
    <div class="container" style="width: 90%">
        <div class="portfolio-container row">
            <a style="padding-top: 20px" target="_blank" href="http://gestyy.com/wSmhwD"><img class="image-responsive" src="https://static.shorte.st/bundles/smeuser/img/mining/affiliation_banners/shortest-miner-728x90.png?v1.1.1" title="Mine BTC today with our app" width="728" height="90" /></a> 
            <div class="col-md-12">
                <ng2-adsense
                [adClient]="'ca-pub-2121261107511559'"
                [adSlot]="3278764682"
                [display]="'inline-block'"
                [height]="200">
                </ng2-adsense>
            </div>
            <!-- End of shorte.st banner code -->
            <div *ngIf="projects.length !== 0 else nodata">
                <div class="project col-md-4" *ngFor="let item of projects">
                    <a [routerLink]="['/works', item.id]" class="gallery-item">
                        <img class="image-responsive" src="{{item.image}}" style="height: 250px">
                    </a>
                    <div class="btn-group pull-right">
                        <a href="{{item.link}}" target="_blank" class="btn btn-link">
                            <i class="fa fa-link"></i> {{item.link}}
                        </a>
                    </div>
                    <a [routerLink]="['/works', item.id]" class="gallery-item-title">{{item.title}}</a>
                </div>
            </div>
            <ng-template #nodata>
                <div class="col-md-12">
                    <h1>No projects found.</h1>
                </div>
            </ng-template>

            <div class="col-md-12" *ngIf="bigTotalItems >= itemsPerPage">
                <pager [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" (pageChanged)="pageChanged($event)" pageBtnClass="btn" itemsPerPage="itemsPerPage"></pager>
            </div>
    
        </div>
    </div>
</section>
  